@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .active{
    border-bottom: 1px solid #32A1EC  ;
    font-weight: bold;
    color:#32A1EC;
  }
  ::-webkit-scrollbar {
    width: 5px;
    background:lightgray;
  }
  
  ::-webkit-scrollbar-track {
   border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:#32A1EC ;
  } 

