@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  .active{
    font-weight: bold;
    color:#32A1EC;
  }
  ::-webkit-scrollbar {
    width: 5px;
    background:lightgray;
  }
  
  ::-webkit-scrollbar-track {
   border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:#32A1EC ;
  } 
  .active_height{
    min-height: 100vh;
    min-width:100vw;
  }

 @media  screen and (max-width:640px) {
   .size{
     width:100vw;

   }
 }
 
 @media screen and (max-width:485px){
  .fold{
    flex-direction: column;
    justify-items: center;
    
  }
 }
 @media  screen and (max-width:640px) {
   .active{
 font-weight: bold;
  color:#32A1EC;

 }
}

